body {
    background-color: lightgray;
}

.container {
    margin: 15px auto;
    padding: 15px;
    background-color:#8f8f8f;
}

.gifdiv {
 margin: 10px 15px 10px 15px;
}

.sport {
    margin: 10px 5px;
    font-family: monospace;
    
}

#buttons-view {
    border-top: #9e9e9e solid 2px;
    border-bottom: #9e9e9e solid 2px;
    margin-bottom: 10px;
}

.title {
    font-family: 'Alfa Slab One', cursive;
    font-style: italic;
    margin-left: 75px;
}

p {
    margin: auto;
    background-color: lightgray;
    padding: 5px;
    font-family: monospace;
    font-weight: bold;
}

#gif-form {
    margin-right: 90px;
    font-family: monospace;
    margin-bottom: 10px;
}

#gifs-view {
    padding-left: 75px;
}